.cabecera{
	height: 80px;
    background: #E20074;
}

.cabecera_body{
	padding-top: 40px;
}

.footer{
	min-height: 80px;
    background: #111111;
}

.footer_body{
	width: 100%;
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

.idiomas {
	color: #ffffff !important;
    background-color: transparent;
    border: none;
    margin-top: 1.9rem;
    margin-right: 1rem;
}

.idiomas option {
	color: black;
}

.logoHeader {
	height: 42px;
    margin-top: 30px;
	margin-left: 11px;
	margin-bottom: 10px;;
	border-style: none;
}