.links a {
	color: white
}

.links a:link {
	color: white
}

.links a:visited {
	color: white
}

.links a.active {
	color: white
}

.links a:hover {
	font-weight: bold;
	text-decoration: none;
}
  
 .size-6 {
	 font-size: small;
 }

 .line {
	color: white;
	background-color: white;
	height: 2px;
	margin-top: 8px;
 }

 .txt-grey {
	 color: #A0A0A0;
 }